# Ignored directories
bin/*/
obj/
ipch/
Win32/
x64/
release/
build/
gui_build/
debug/
*XE Results*/
doxygen*/
doc/
COV/
minidump/
CppDependOut/
.vs/

# Global filetypes to ignore
*.depend
*.layout
*.patch
*.cscope_file_list
*.bmarks
*.chw
*.cbTemp
*.ini
*.opensdf
*.sdf
*.suo
*.VC.opendb
*.autosave
*.~vsd
*.dll
*.exe
*.pro.user.*
*.vcxproj.user
*.orig
cov-int*
*.pdb
ui_*
*.aps
*.pro.user
.DS_Store
*.ipgset
pin.log*
*.cdproj
src/gui/Translations/*.qm
x64dbg.VC.db

# Project to ignore
help/x64*dbg.chm
help/output/
bin/x64*dbg.chm
bin/win32.*
bin/x*.unicode.txt

# Debugger files to ignore
CppCheckResults.xml
src/dbg/ODbgScript.chm
src/dbg/ODbgScript.chw

# GUI files
src/gui/build
src/gui/Makefile*
tools/
RCa*
RDa*
RDb*
src/build-*/

# Exceptions
!/hooks/AStyleHelper.exe
!/hooks/AStyle.dll
!/bin/x64dbg_shell_remove.reg
!*.lib
.scannerwork/
bw-output/
build-wrapper*
My Amplifier Results - */
My Inspector Results - */
x64dbg.si4project/cache/parse/src_dbg_analysis_controlflowanalysis.cpp.sisc
x64dbg.si4project/cache/parse/src_dbg_analysis_controlflowanalysis.h.sisc
x64dbg.si4project/x64dbg.sip_sym
x64dbg.si4project/x64dbg.sip_xab
x64dbg.si4project/x64dbg.sip_xad
x64dbg.si4project/x64dbg.sip_xc
x64dbg.si4project/x64dbg.sip_xf
x64dbg.si4project/x64dbg.sip_xm
x64dbg.si4project/x64dbg.sip_xr
x64dbg.si4project/cache/parse/src_dbg_commands_cmd-debug-control.cpp.sisc
x64dbg.si4project/cache/parse/src_dbg_debugger.cpp.sisc
x64dbg.si4project/cache/parse/src_dbg_exception.h.sisc
x64dbg.si4project/cache/parse/src_dbg_stringutils.h.sisc
x64dbg.si4project/cache/parse/src_dbg_x64dbg.cpp.sisc
x64dbg.si4project/cache/parse/src_gui_Src_BasicView_AbstractSearchList.h.sisc
x64dbg.si4project/cache/parse/src_gui_Src_BasicView_AbstractStdTable.h.sisc
x64dbg.si4project/cache/parse/src_gui_Src_Gui_MainWindow.cpp.sisc
x64dbg.si4project/x64dbg.SearchResults
x64dbg.si4project/x64dbg.siwork
x64dbg.si4project/cache/parse/src_dbg_commands_cmd-debug-control.cpp.sisc
x64dbg.si4project/cache/parse/src_dbg_debugger.cpp.sisc
x64dbg.si4project/cache/parse/src_dbg_exception.h.sisc
x64dbg.si4project/cache/parse/src_dbg_stringutils.h.sisc
x64dbg.si4project/cache/parse/src_dbg_x64dbg.cpp.sisc
x64dbg.si4project/cache/parse/src_gui_Src_BasicView_AbstractSearchList.h.sisc
x64dbg.si4project/cache/parse/src_gui_Src_BasicView_AbstractStdTable.h.sisc
x64dbg.si4project/cache/parse/src_gui_Src_Gui_MainWindow.cpp.sisc
x64dbg.si4project/x64dbg.SearchResults
x64dbg.si4project/x64dbg.siwork
